
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-results/
/allure-report/


#Claude and local agent
.claude
.junie
.playwright-cli
.env
.DS_Store
.vscode
.cursor
.idea
